/****** Object:  Table [dbo].[Гражданин]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гражданин](
	[ID_Гражданина] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](60) NOT NULL,
	[Дата_Рождения] [date] NOT NULL,
	[Адрес] [varchar](255) NOT NULL,
	[Телефон] [char](12) NOT NULL,
	[Социальный_Статус] [varchar](40) NULL,
 CONSTRAINT [PK_Граждане] PRIMARY KEY CLUSTERED 
(
	[ID_Гражданина] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Документ]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Документ](
	[ID_Документа] [int] IDENTITY(1,1) NOT NULL,
	[ID_Заявления] [int] NOT NULL,
	[Название] [varchar](100) NOT NULL,
	[Статус_Проверки] [varchar](50) NOT NULL,
	[Скан] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Документы] PRIMARY KEY CLUSTERED 
(
	[ID_Документа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[ID_Должности] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[ID_Должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявление]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявление](
	[ID_Заявления] [int] IDENTITY(1,1) NOT NULL,
	[ID_Гражданина] [int] NOT NULL,
	[ID_Меры] [int] NOT NULL,
	[Дата_Подачи] [date] NOT NULL,
	[ID_Статус] [int] NOT NULL,
	[Комментарий] [varchar](150) NULL,
 CONSTRAINT [PK_Заявления] PRIMARY KEY CLUSTERED 
(
	[ID_Заявления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_Обработки]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_Обработки](
	[ID_Записи] [int] IDENTITY(1,1) NOT NULL,
	[ID_Заявления] [int] NOT NULL,
	[Дата_Изменения] [datetime] NOT NULL,
	[Новый_Статус] [varchar](50) NOT NULL,
	[ID_Сотрудника] [int] NOT NULL,
 CONSTRAINT [PK_История_Обработки] PRIMARY KEY CLUSTERED 
(
	[ID_Записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мера_Поддержки]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мера_Поддержки](
	[ID_Меры] [int] IDENTITY(1,1) NOT NULL,
	[Название] [varchar](100) NOT NULL,
	[Описание] [varchar](200) NOT NULL,
	[Условия_Предоставления] [varchar](150) NOT NULL,
	[Срок_Действия] [date] NOT NULL,
 CONSTRAINT [PK_Меры_Поддержки] PRIMARY KEY CLUSTERED 
(
	[ID_Меры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[ID_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](60) NOT NULL,
	[ID_Должность] [int] NOT NULL,
	[Уровень_доступа] [nvarchar](1) NOT NULL,
	[Контакт] [varchar](50) NOT NULL,
	[Логин] [nvarchar](30) NOT NULL,
	[Пароль] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 17.06.2025 11:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[ID_Статус] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[ID_Статус] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Гражданин] ON 

INSERT [dbo].[Гражданин] ([ID_Гражданина], [ФИО], [Дата_Рождения], [Адрес], [Телефон], [Социальный_Статус]) VALUES (1, N'Суханов Василий Альбертович', CAST(N'1978-12-18' AS Date), N'Ул.Комсомольская 12', N'+79221004087', N'Малоимущий')
INSERT [dbo].[Гражданин] ([ID_Гражданина], [ФИО], [Дата_Рождения], [Адрес], [Телефон], [Социальный_Статус]) VALUES (2, N'Василенко Данил Суханович', CAST(N'1998-10-24' AS Date), N'Ул. Строителей д.54', N'+79967895641', N'Пенсионер')
INSERT [dbo].[Гражданин] ([ID_Гражданина], [ФИО], [Дата_Рождения], [Адрес], [Телефон], [Социальный_Статус]) VALUES (24, N'Васильев Иван Натанович', CAST(N'1999-06-01' AS Date), N'Ул. Комсомольская 25', N'+79765642180', N'Работающий')
SET IDENTITY_INSERT [dbo].[Гражданин] OFF
GO
SET IDENTITY_INSERT [dbo].[Документ] ON 

SET IDENTITY_INSERT [dbo].[Документ] OFF
GO
SET IDENTITY_INSERT [dbo].[Должность] ON 

INSERT [dbo].[Должность] ([ID_Должности], [Название]) VALUES (1, N'Администратор')
INSERT [dbo].[Должность] ([ID_Должности], [Название]) VALUES (2, N'Аналитик заявлений и отчётности')
INSERT [dbo].[Должность] ([ID_Должности], [Название]) VALUES (4, N'Инспектор по проверке документов')
SET IDENTITY_INSERT [dbo].[Должность] OFF
GO
SET IDENTITY_INSERT [dbo].[Заявление] ON 

INSERT [dbo].[Заявление] ([ID_Заявления], [ID_Гражданина], [ID_Меры], [Дата_Подачи], [ID_Статус], [Комментарий]) VALUES (5, 2, 1, CAST(N'2025-06-11' AS Date), 2, N'-')
INSERT [dbo].[Заявление] ([ID_Заявления], [ID_Гражданина], [ID_Меры], [Дата_Подачи], [ID_Статус], [Комментарий]) VALUES (25, 28, 1, CAST(N'2025-06-06' AS Date), 2, N'123123123')
INSERT [dbo].[Заявление] ([ID_Заявления], [ID_Гражданина], [ID_Меры], [Дата_Подачи], [ID_Статус], [Комментарий]) VALUES (26, 24, 1, CAST(N'2025-02-13' AS Date), 2, N'Сгорел дом, помогите')
SET IDENTITY_INSERT [dbo].[Заявление] OFF
GO
SET IDENTITY_INSERT [dbo].[История_Обработки] ON 

INSERT [dbo].[История_Обработки] ([ID_Записи], [ID_Заявления], [Дата_Изменения], [Новый_Статус], [ID_Сотрудника]) VALUES (-1, 32, CAST(N'2025-06-17T11:38:08.830' AS DateTime), N'1', 9)
INSERT [dbo].[История_Обработки] ([ID_Записи], [ID_Заявления], [Дата_Изменения], [Новый_Статус], [ID_Сотрудника]) VALUES (1, 37, CAST(N'2025-06-17T11:40:13.607' AS DateTime), N'3', 9)
SET IDENTITY_INSERT [dbo].[История_Обработки] OFF
GO
SET IDENTITY_INSERT [dbo].[Мера_Поддержки] ON 

INSERT [dbo].[Мера_Поддержки] ([ID_Меры], [Название], [Описание], [Условия_Предоставления], [Срок_Действия]) VALUES (1, N'Помощь погорельцам', N'Финансовая помощь людям с нежиданными обстоятельствами в виде пожара', N'Предоставлены документы, подтверждающие ЧП', CAST(N'2025-09-04' AS Date))
INSERT [dbo].[Мера_Поддержки] ([ID_Меры], [Название], [Описание], [Условия_Предоставления], [Срок_Действия]) VALUES (2, N'Помощь многодетным семьям', N'Ежемесячная финансовая поддержка для семей с тремя и более детьми.', N'Свидетельства о рождении всех детей, справка о составе семьи.', CAST(N'2025-12-06' AS Date))
INSERT [dbo].[Мера_Поддержки] ([ID_Меры], [Название], [Описание], [Условия_Предоставления], [Срок_Действия]) VALUES (3, N'Поддержка пенсионеров', N'Единовременная выплата пенсионерам с низким доходом.', N'Пенсионное удостоверение, справка о доходах.', CAST(N'2025-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[Мера_Поддержки] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [ФИО], [ID_Должность], [Уровень_доступа], [Контакт], [Логин], [Пароль]) VALUES (1, N'Суслов Дмитрий Сергеевич', 1, N'A', N'+79221004076', N'F1enddd', N'Suslovdima26')
INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [ФИО], [ID_Должность], [Уровень_доступа], [Контакт], [Логин], [Пароль]) VALUES (2, N'Шаламов Сергей Андреевич', 1, N'B', N'PochtaRu', N'WassupDogs', N'Serg3008')
INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [ФИО], [ID_Должность], [Уровень_доступа], [Контакт], [Логин], [Пароль]) VALUES (3, N'Ростислав Аксёнович Крылов', 5, N'C', N'+792234495638', N'user0', N'pass0')
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
GO
SET IDENTITY_INSERT [dbo].[Статус] ON 

INSERT [dbo].[Статус] ([ID_Статус], [Название]) VALUES (1, N'Одобрена')
INSERT [dbo].[Статус] ([ID_Статус], [Название]) VALUES (2, N'Ожидает рассмотрения')
INSERT [dbo].[Статус] ([ID_Статус], [Название]) VALUES (3, N'Исполнена')
SET IDENTITY_INSERT [dbo].[Статус] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Должность_Название]    Script Date: 17.06.2025 11:46:01 ******/
ALTER TABLE [dbo].[Должность] ADD  CONSTRAINT [UQ_Должность_Название] UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Login]    Script Date: 17.06.2025 11:46:01 ******/
ALTER TABLE [dbo].[Сотрудник] ADD  CONSTRAINT [UQ_Login] UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Сотрудник_Контакт]    Script Date: 17.06.2025 11:46:01 ******/
ALTER TABLE [dbo].[Сотрудник] ADD  CONSTRAINT [UQ_Сотрудник_Контакт] UNIQUE NONCLUSTERED 
(
	[Контакт] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Документ]  WITH CHECK ADD  CONSTRAINT [FK_Документы_Заявления] FOREIGN KEY([ID_Заявления])
REFERENCES [dbo].[Заявление] ([ID_Заявления])
GO
ALTER TABLE [dbo].[Документ] CHECK CONSTRAINT [FK_Документы_Заявления]
GO
ALTER TABLE [dbo].[Заявление]  WITH CHECK ADD  CONSTRAINT [FK_Заявление_Статус] FOREIGN KEY([ID_Статус])
REFERENCES [dbo].[Статус] ([ID_Статус])
GO
ALTER TABLE [dbo].[Заявление] CHECK CONSTRAINT [FK_Заявление_Статус]
GO
ALTER TABLE [dbo].[Заявление]  WITH CHECK ADD  CONSTRAINT [FK_Заявления_Граждане] FOREIGN KEY([ID_Гражданина])
REFERENCES [dbo].[Гражданин] ([ID_Гражданина])
GO
ALTER TABLE [dbo].[Заявление] CHECK CONSTRAINT [FK_Заявления_Граждане]
GO
ALTER TABLE [dbo].[Заявление]  WITH CHECK ADD  CONSTRAINT [FK_Заявления_Меры_Поддержки] FOREIGN KEY([ID_Меры])
REFERENCES [dbo].[Мера_Поддержки] ([ID_Меры])
GO
ALTER TABLE [dbo].[Заявление] CHECK CONSTRAINT [FK_Заявления_Меры_Поддержки]
GO
ALTER TABLE [dbo].[История_Обработки]  WITH CHECK ADD  CONSTRAINT [FK_История_Обработки_Заявления] FOREIGN KEY([ID_Заявления])
REFERENCES [dbo].[Заявление] ([ID_Заявления])
GO
ALTER TABLE [dbo].[История_Обработки] CHECK CONSTRAINT [FK_История_Обработки_Заявления]
GO
ALTER TABLE [dbo].[История_Обработки]  WITH CHECK ADD  CONSTRAINT [FK_История_Обработки_Сотрудники] FOREIGN KEY([ID_Сотрудника])
REFERENCES [dbo].[Сотрудник] ([ID_Сотрудника])
GO
ALTER TABLE [dbo].[История_Обработки] CHECK CONSTRAINT [FK_История_Обработки_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Должность1] FOREIGN KEY([ID_Должность])
REFERENCES [dbo].[Должность] ([ID_Должности])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Должность1]
GO
ALTER TABLE [dbo].[Гражданин]  WITH CHECK ADD  CONSTRAINT [CHK_Адрес_Length] CHECK  ((len([Адрес])>=(10)))
GO
ALTER TABLE [dbo].[Гражданин] CHECK CONSTRAINT [CHK_Адрес_Length]
GO
ALTER TABLE [dbo].[Гражданин]  WITH CHECK ADD  CONSTRAINT [CHK_Дата_Рождения] CHECK  (([Дата_Рождения]<=dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[Гражданин] CHECK CONSTRAINT [CHK_Дата_Рождения]
GO
ALTER TABLE [dbo].[Гражданин]  WITH CHECK ADD  CONSTRAINT [CHK_Социальный_статус] CHECK  ((len([Социальный_Статус])<=(25)))
GO
ALTER TABLE [dbo].[Гражданин] CHECK CONSTRAINT [CHK_Социальный_статус]
GO
ALTER TABLE [dbo].[Гражданин]  WITH CHECK ADD  CONSTRAINT [CHK_Телефон_Format] CHECK  (([Телефон] like '+7__________'))
GO
ALTER TABLE [dbo].[Гражданин] CHECK CONSTRAINT [CHK_Телефон_Format]
GO
ALTER TABLE [dbo].[Гражданин]  WITH CHECK ADD  CONSTRAINT [CHK_ФИО_Format] CHECK  (([ФИО] like '% % %'))
GO
ALTER TABLE [dbo].[Гражданин] CHECK CONSTRAINT [CHK_ФИО_Format]
GO
ALTER TABLE [dbo].[Заявление]  WITH CHECK ADD  CONSTRAINT [CHK_Дата_Подачи] CHECK  (([Дата_Подачи]<=getdate()))
GO
ALTER TABLE [dbo].[Заявление] CHECK CONSTRAINT [CHK_Дата_Подачи]
GO
ALTER TABLE [dbo].[Заявление]  WITH CHECK ADD  CONSTRAINT [CHK_Комментарий_Length] CHECK  ((len([Комментарий])<=(150)))
GO
ALTER TABLE [dbo].[Заявление] CHECK CONSTRAINT [CHK_Комментарий_Length]
GO
ALTER TABLE [dbo].[История_Обработки]  WITH CHECK ADD  CONSTRAINT [CHK_Дата_Изменения] CHECK  (([Дата_Изменения]>='2000-01-01'))
GO
ALTER TABLE [dbo].[История_Обработки] CHECK CONSTRAINT [CHK_Дата_Изменения]
GO
ALTER TABLE [dbo].[История_Обработки]  WITH CHECK ADD  CONSTRAINT [CHK_Новый_Статус] CHECK  (([Новый_Статус] IS NOT NULL))
GO
ALTER TABLE [dbo].[История_Обработки] CHECK CONSTRAINT [CHK_Новый_Статус]
GO
ALTER TABLE [dbo].[Мера_Поддержки]  WITH CHECK ADD  CONSTRAINT [CHK_Срок_Действия] CHECK  (([Срок_Действия]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Мера_Поддержки] CHECK CONSTRAINT [CHK_Срок_Действия]
GO
ALTER TABLE [dbo].[Мера_Поддержки]  WITH CHECK ADD  CONSTRAINT [CHK_Условия_NotNull] CHECK  (([Условия_Предоставления] IS NOT NULL AND len([Условия_Предоставления])>(0)))
GO
ALTER TABLE [dbo].[Мера_Поддержки] CHECK CONSTRAINT [CHK_Условия_NotNull]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CHK_Логин_Length] CHECK  ((len([Логин])>=(5)))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CHK_Логин_Length]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CHK_Сотрудник_ФИО_Format] CHECK  (([ФИО] like '% % %'))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CHK_Сотрудник_ФИО_Format]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CHK_Уровень_доступа] CHECK  (([Уровень_доступа]='C' OR [Уровень_доступа]='B' OR [Уровень_доступа]='A'))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CHK_Уровень_доступа]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор гражданина' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'ID_Гражданина'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Полное имя гражданина' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'ФИО'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата рождения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'Дата_Рождения'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Адрес проживания' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'Адрес'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Контактный телефон (+7)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'Телефон'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Категория статуса (многодетный, пенсионер и т.д.)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин', @level2type=N'COLUMN',@level2name=N'Социальный_Статус'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Гражданин'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор документа' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Документ', @level2type=N'COLUMN',@level2name=N'ID_Документа'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Связь с таблицей Заявления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Документ', @level2type=N'COLUMN',@level2name=N'ID_Заявления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование документа' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Документ', @level2type=N'COLUMN',@level2name=N'Название'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Статус проверки (проверен, не проверен)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Документ', @level2type=N'COLUMN',@level2name=N'Статус_Проверки'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор заявления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'ID_Заявления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Связь с таблицей Граждане' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'ID_Гражданина'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Связь с таблицей Меры_Поддержки' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'ID_Меры'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата подачи заявления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'Дата_Подачи'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Статус заявления (на рассмотрении, одобрено, отклонено)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'ID_Статус'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Комментарии или замечания' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заявление', @level2type=N'COLUMN',@level2name=N'Комментарий'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор записи' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'История_Обработки', @level2type=N'COLUMN',@level2name=N'ID_Записи'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Связь с таблицей Заявления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'История_Обработки', @level2type=N'COLUMN',@level2name=N'ID_Заявления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата и время изменения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'История_Обработки', @level2type=N'COLUMN',@level2name=N'Дата_Изменения'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Новый статус' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'История_Обработки', @level2type=N'COLUMN',@level2name=N'Новый_Статус'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Кто изменил' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'История_Обработки', @level2type=N'COLUMN',@level2name=N'ID_Сотрудника'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор меры поддержки' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Мера_Поддержки', @level2type=N'COLUMN',@level2name=N'ID_Меры'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование меры' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Мера_Поддержки', @level2type=N'COLUMN',@level2name=N'Название'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Краткое описание меры' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Мера_Поддержки', @level2type=N'COLUMN',@level2name=N'Описание'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Условия предоставления мер поддержки' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Мера_Поддержки', @level2type=N'COLUMN',@level2name=N'Условия_Предоставления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Срок действия меры' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Мера_Поддержки', @level2type=N'COLUMN',@level2name=N'Срок_Действия'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификатор сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудник', @level2type=N'COLUMN',@level2name=N'ID_Сотрудника'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Полное имя сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудник', @level2type=N'COLUMN',@level2name=N'ФИО'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Должность сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудник', @level2type=N'COLUMN',@level2name=N'Уровень_доступа'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Контактный телефон или email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудник', @level2type=N'COLUMN',@level2name=N'Контакт'
GO
